/* .button {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
  margin-right: 1rem;
}

.button:hover {
  opacity: 0.8;
  background: #3e6ae1;
  color: #fff;
}

.button:last-child {
margin-right: 0;
} */

.button {
  background: none;
  border: 2px solid #3a3a3a;
  font: inherit;
  color: #3a3a3a;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;

  transition: 0.25s;
}

.button:hover, .button:focus {
  background: #3a3a3a;
  color: #fff;
}