.enemySide {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 45vh;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  background-color: rgba(215, 231, 250, 0.665);
}
.enemy_grid {
  display: grid;
  grid-template-columns: repeat(4, 0.7fr);
  grid-template-rows: repeat(4, 0.3fr);
  /* align-items: stretch; */
  gap: 0.5rem;
  /* padding-right: 2em; */
}

.battle_screen-button.enemy-rat {
  color: #fff;
  background-image: url(../../assets/enemies/rat.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.battle_screen-button.enemy-rat:hover {
  background-image: url(../../assets/enemies/rat.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: rotate 0.25s 1;
}

@keyframes rotate {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
