/* .mainview {
  width: 80vh;
  height: 70vh;
  border: 1px solid Red;
} */

.mainview {
  display: flex;
  position: relative;
  /* width: 100vh; */
  height: 90vh;
  /* border: 1px solid; */
  align-items: flex-start;
  flex-direction: column;

  background-image: url('../../assets/main-backgrounds/MainScreen-BG.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
