/* <!-- Для модального окна, где выбираются уровни сложности -->

<div class="modal_level">
  <div class="button offset_left level-item">доска</div>
  <div class="button offset_right level-item">камень</div>
  <div class="button offset_left level-item">пластик</div>
  <div class="button offset_right level-item">стекло</div>
</div> */

.search-screen {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 75vh;
  background-image: url(../../assets/RaidScreen-BG.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.modal_level {
    width: 400px;
    border: 3px solid orange;
    border-radius: 10px;
  }
  
  .offset_right {
      display: flex;
      justify-content: right;
      margin-right: 1em;
  }
  
  .offset_left {
    margin-left: 1em;
  }
  
  .level-item {
    margin-top: 1em;
    margin-bottom: 1em;
  }

/* .button {
  border: 3px solid orange;
} */