/* .game-grid {
  display: grid;
  grid-template-areas:
    "header"
    "gameScreen";
  height: 100vh;
}

.game-grid > .header {
  grid-area: header;
  background-color: red;
}

.game-grid > .ant-dropdown-trigger > .gameScreen {
  grid-area: gameScreen;
  background-color: aqua;
} */

.game-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.game-container > .header {
  border-bottom: 2px solid;
}

.game-container > .ant-dropdown-trigger {
  height: 100%;
}
